@import "../../styles/variables";

.fixed-form-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 15;
  transition: .6s ease-in-out;
  animation: shake 3s infinite;

  .toggle-fixed-form-button {
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background: $price-color;
    padding: 10px;

  }

  .fixed-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.fixed-form-active {
  right: 240px;
  animation: stopShake .1ms infinite;
}

@keyframes stopShake {
  from {
    transform: translateX(220px)
  } to {
  transform: translateX(220px)
      }
}

.find-room-form {
  border: 2px solid $price-color;
  padding: 20px 25px;
  background: #ffffff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  label {
    font-size: 1.2em;
    color: $price-color;
    font-weight: bold;
    margin: 5px;
  }

  select {
    border-radius: 3px;
    border: 1px solid $price-color;
    padding: 10px;
    margin: 10px;
    color: $price-color;
  }

  input {
    border-radius: 3px;
    border: 1px solid $price-color;
    padding: 10px;
    margin: 10px;
  }

  input[type=date] {
    -webkit-appearance: none;
    color: $price-color;

    &::placeholder {
      color: $price-color;
    }
  }

  input[type=date]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }

}

.find-room-button {
  color: #fff;
  background-color: $price-color;
  font-weight: 700;
  height: 50px;
  border: none;
  display: block;
  font-size: 1.2em;
  width: 100%;
  border-radius: 3px;
}


@keyframes shake {
  from {
    transform: translateX(220px);
  }
  50% {
    transform: translateX(210px);
  }

  to {
    transform: translateX(220px);
  }
}


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .fixed-form-wrapper {
    .toggle-fixed-form-button {
      font-size: 1rem;
    }
  }

  .find-room-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .fixed-form-wrapper {
    .toggle-fixed-form-button {
      font-size: 1rem;
    }
  }

  .find-room-button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {

  .fixed-form-wrapper {
    right: 10px;

    .toggle-fixed-form-button {
      font-size: 0.8em;
      width: 80px;
    }
  }

  .fixed-form-active {
    right: 240px;
  }

  .find-room-button {
    font-size: 0.8rem;
  }


  .find-room-form {
    font-size: 0.8em;
  }

}