.auth-admin {
  width: 100%;
  background: url("../../assets/images/Chicago_70230862_1050x590_tcm-33720.jpg") center center / cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  filter: brightness(0.5);
  min-height: 100%;
  &-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
  }

}

.auth-admin-form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000000;
  background: #ffffff;
  border-radius: 30px;
  flex-direction: column;
  padding: 30px;
  input {
    width: 200px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #cdcdcd;
    margin: 20px 20px 20px 0;
    outline: none;
    font-size: 1em;
    transition: .3s;
  }
}