@import "src/index";

.room-page {
  &-bg {
    background: url("../../assets/images/dui21-deluxe-room1.add1.low-res.jpg") center center / cover;
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
  }
  h1 {
    color: $base-text-color;
    font-size: 4em;
  }
  &-wrapper {
    padding-top: 35vh;
  }
}

@media screen
and (min-width: 768px)
and (max-width: 1199px){
  .room-page {
    h1 {
      font-size: 3em;
    }
   &-wrapper {
     padding-top: 40vh;
   }
  }
}


@media screen and (min-width: 300px) and (max-width: 480px) {
  .room-page {
    h1 {
      font-size: 2em;
    }
    &-wrapper {
      padding-top: 20vh;
    }
  }
}
