
.order-page-bg {
  background: url("../../assets/images/manila_14.jpg") center center / cover;
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  h1 {
    color: #ffffff;
    font-size: 4em;
  }

}

.order-item {
  animation: slideIn .7s ease-in-out;
  transition: .5s ease-in-out;
}

