@import "src/index";
.order-page {
  &-wrapper {
    min-height: 80vh;
  }

  &-bg {
    background: url("../../assets/images/7112.jpg") center center / cover;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    filter: brightness(.6);
  }

  &-user-info {
    animation: slideInLeft .5s ease;
    background: $price-color;
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
  }
  h2,h4 {
    text-align: center;
    color: #ffffff;
  }
}

.deleted-order {
  animation: slideOut .5s linear !important;
}

@keyframes slideOut {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
  }
}

.order-item {
  margin-bottom: 10px;
  transition: .5s ease-in-out;
  background: $price-color;
  padding: 10px;
  color: #ffffff;
  border-radius: 20px;
  animation: slideInRight .8s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  .button {
    background: #ffffff;
    color: $price-color;
  }
}

.feedback-form {
  animation: slideInLeft .3s ;
  padding: 10px;
  border-radius: 3px;
  color: #000000;
  margin-top: 10px;
  text-align: center;
  .button {
    background: $price-color;
    color: #ffffff;
    border-radius: 3px;
    border: none;
  }
  textarea {
    border-radius: 3px;
    margin: 10px 0;
    resize: none;
    background: $price-color;
    color: #ffffff;
    border: none;
    &::placeholder {
      color: #ffffff;
    }
    &:focus {
      background: $price-color;
      color: #ffffff;
    }
  }
}
