@import "src/index";

.header__contacts {
  color: $price-color;
  display: flex;
  justify-content: space-between;
  li {
    display: flex;
    flex-direction: column;
    span:nth-child(2) {
      font-size: 1.2em;
    }
  }
}

.switсh-language__wrapper {
  button {
    background: transparent;
    border: none;
    padding: 2px;
    transition: .3s;
    border-radius: 50%;
    outline: none;
    &:hover {
      background: lightgray;
    }
  }
}

.nav__list_links {
  font-size: 1.5rem;
  text-transform: uppercase;
  a {
    margin: 0 10px;
    padding: 10px 20px;
    position: relative;
    color: $price-color;
    transition: .3s ease;
    &:hover,:active {
      text-decoration: none;
      color: $price-color;
    }
    &:hover::before,:active {
      top: 100%;
      opacity: 1;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $price-color;
      content: '';
      -webkit-transition: top 0.3s;
      -moz-transition: top 0.3s;
      transition: top 0.3s;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 2px;
      background: $price-color;
      content: '';
      -webkit-transition: height 0.3s;
      -moz-transition: height 0.3s;
      transition: height 0.3s;
    }
    &:hover::after,:active {
      height: 100%;
    }
  }
}

.userInfo {
  color:$price-color;
  a {
    color: $price-color;
    text-decoration: none;
    a:hover {
      text-decoration: none;
    }
  }
}
.separator {
  background: $base-text-color;
  width: 1px;
  height: 40px;
}

.social_icon {
  background: transparent;
  border: 2px solid $base-text-color;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: .4s ease;
  .icon {
    color: $base-text-color;
  }
  &:hover:first-child {
    background: #3b5998;
  }
  &:hover:nth-child(2) {
    background: #1DA1F2;
  }
  &:hover:nth-child(3) {
    background: #4c75a3;
  }
}

.button-book {
  padding: 8px 20px;
  border:none;
  background: $price-color;
  color: $base-text-color;
  transition: .3s ease-in;
  overflow: hidden;
  white-space: nowrap;
}


.header_button {
  position: relative;
  &:before {
    content: '\0024';
    position: absolute;
    top: 9px;
    left: -30px;
    transition: all 200ms ease;
  }
  &:hover:before {
    left: 3px;
  }

}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


#burger-button {
  display: none;
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .nav__list_links,.button,.button-book {
    font-size: 1.3em;
  }
  .header__contacts {
    li {
      span {
        font-size: 1.1em;
        &:nth-child(2) {
          font-size: 1em;
        }
      }
    }
  }
}


@media screen
and (min-width: 768px)
and (max-width: 1199px){
  .nav__list_links,.button, .button-book {
    font-size: 1em;
  }

  .header__contacts {
    li {
      span {
        font-size: 1em;
        &:nth-child(2) {
          font-size: 1em;
        }
      }
    }
  }

}


@media screen and (max-width: 768px){
  #burger-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .nav-wrapper {
    #nav__list_links {
      display: flex;
      flex-direction: column;
      font-size: 1.1em;
    }
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }

  .disabled {
    transform: translateX(-300px);
  }
  .active {
    transform: translateX(0px);
  }
    .header__contacts {
     display: none;
    }
}



