@import "src/index";



.header__contacts {
  color: $price-color;
  li {
    display: flex;
    flex-direction: column;
    span:nth-child(2) {
      font-size: 18px;
    }
  }
}

.switсh-language__wrapper {
  button {
    background: transparent;
    border: none;
    padding: 2px;
    transition: .3s;
    border-radius: 50%;
    outline: none;
    &:hover {
      background: lightgray;
    }
  }
}

.nav__list_links {
  font-size: 22px;
  text-transform: uppercase;
  a {
    margin: 0 10px;
    padding: 10px 20px;
    position: relative;
    color: $price-color;
    transition: .3s ease;
    &:hover {
      text-decoration: none;
      color: $price-color;
    }
    &:hover::before {
      top: 100%;
      opacity: 1;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $price-color;
      content: '';
      -webkit-transition: top 0.3s;
      -moz-transition: top 0.3s;
      transition: top 0.3s;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 2px;
      background: $price-color;
      content: '';
      -webkit-transition: height 0.3s;
      -moz-transition: height 0.3s;
      transition: height 0.3s;
    }
    &:hover::after {
      height: 100%;
    }
  }
}

.userInfo {
  color:$price-color;
  a {
    color: $price-color;
    text-decoration: none;
    a:hover {
      text-decoration: none;
    }
  }
}
.separator {
  background: $base-text-color;
  width: 1px;
  height: 40px;
}

.social_icon {
  background: transparent;
  border: 2px solid $base-text-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: .4s ease;
  .icon {
    color: $base-text-color;
  }
  &:hover:first-child {
    background: #3b5998;
  }
  &:hover:nth-child(2) {
    background: #1DA1F2;
  }
  &:hover:nth-child(3) {
    background: #4c75a3;
  }
}

.button {
  padding: 8px 20px;
  border:none;
  background: $price-color;
  color: $base-text-color;
  font-size: 24px;
  transition: .3s ease-in;
  overflow: hidden;
}


.header_button {
  position: relative;
  &:before {
    content: '\0024';
    position: absolute;
    top: 9px;
    left: -30px;
    transition: all 200ms ease;
  }
  &:hover:before {
    left: 3px;
  }

}


