.admin-form {
  border-radius: 10px;
  border: 2px solid #1DA1F2;
  padding: 10px;
  display: flex;
  width: 30rem;
  flex-direction: column;
  background: #ffffff;
}
.show-modal {
  display: block;
  animation: slideInLeft .5s ;
}

.hide-modal {
  display: none;
}

.add-modal-wrapper {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}