@import '~@material/icon-button/dist/mdc.icon-button.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



.sort-button {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  transition: .3s;
  &:hover {
    color: lightslategrey;
  }
}

.page-link {
  cursor: pointer;
}

.admin-page {
  font-family: Roboto, sans-serif;
}


.grid-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-table {
  padding: 20px;
  width: 100%;
  box-shadow: 5px 5px 5px #cdcdcd;
  border: 2px solid lightslategrey;

  thead {
    tr {
      border-top: none;
    }
  }

  tr {
    padding: 10px;
    border-top: 2px solid lightslategrey;
  }

  td, th {
    border-right: 2px solid lightslategrey;
    padding: 10px;

    &:last-child {
      border-right: none;
    }
  }
}

.icon-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  margin: 0 10px;
  transition: .3s ease;
  color: #ffffff;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;

  &:hover {
    color: red;
  }
}
