@import url('https://cdn.syncfusion.com/ej2/ej2-grids/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-navigations/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-splitbuttons/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css');

#grid_1064713241_1category_hidden {
  background: #ffffff;
  option {
    background: #ffffff;
    z-index: 10;
  }
}

.icon-buttons {
  background: none;
  border: none;
  margin: 0 10px;
  padding: 10px;
  transition: .3s ease;
  z-index: 10;
  &:hover {
    color: #4c75a3;
  }
  svg {
    z-index: -1;
  }
}

.close-button {
  background: none;
  border: none;
  margin: 0 10px;
  transition: .3s ease;
  color: #ffffff;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  &:hover {
    color: red;
  }
}
