@import '~@material/icon-button/dist/mdc.icon-button.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.sort-button {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  transition: .3s;

  &:hover {
    color: lightslategrey;
  }
}

.page-link {
  cursor: pointer;
}

.admin-page {
  font-family: Roboto, sans-serif;
}


.grid-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: auto;
}



.grid-table {
  padding: 20px;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px #cdcdcd;
  border: 2px solid lightslategrey;

  thead {
    tr {
      border-top: none;
    }
  }

  tr {
    padding: 10px;
    border-top: 2px solid lightslategrey;
  }

  th {

  }

  td, th {
    border-right: 2px solid lightslategrey;
    padding: 10px;

    &:last-child {
      border-right: none;
    }
  }
}

.icon-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  margin: 0 10px;
  transition: .3s ease;
  color: #ffffff;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;

  &:hover {
    color: red;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
      .grid-table-wrapper {
        font-size: 1.2em;
      }
}


@media screen and (max-width: 768px) and (min-width: 480px) {
  .grid-table-wrapper {
    font-size: 1em;
    .grid-table {
      box-shadow: none;
    }
  }
}


@media screen and (min-width: 300px) and (max-width: 480px) {
  .grid-table-wrapper {
    font-size: 0.8em;
    .grid-table {
      box-shadow: none;
    }
  }
}