
.search-room-page {
  min-height: 80vh;;
  &-bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../../assets/images/8cf6c-01_01_phuket-thai-food-restaurant-baba-top01-soul-food-restaurant-phuket-thailand-hi-picture-restaurant.jpg") center center / cover;
    filter: brightness(0.5) blur(2px);
  }
  &__item {
    color: #ffffff;
  }
}
