@import 'src/index';

.rooms-page__item {
 box-shadow: 5px 5px 5px 5px #cdcdcd;
  padding: 30px;
  transition: .3s ease-in-out;

  p {
    margin-right: 10px;
  }

  &:hover {
    color: #ffffff;
    background: $price-color;
  }
}

.room-page__item-img {
  border-radius: 20px;
}

.rooms-page__wrapper{
  &:nth-child(odd) {
    animation: slideInRight .7s ease-in-out;
  }
  &:nth-child(even) {
    animation: slideInLeft .7s ease-in-out;
  }
}


@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes slideIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .rooms-page__item {
    &-text {
      display: flex;
      flex-direction: column;
    }
  }
}

