.rooms-page__item {
  border-radius: 20px;
  padding: 15px;
  transition: .3s ease-in-out;

  &-img {
    max-width: 70%;
    height: 80%;
  }
  p {
    margin-right: 10px;
  }
  &:hover {
    color: #ffffff;
    background: #000000;
  }
}

.rooms-page__wrapper {
  animation: slideIn .7s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }

}