.articles-page {
  &-bg {
    background: url("/images/543280.jpg") center center / cover;
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
  }
  h1 {
    color: #ffffff;
    font-size: 4em;
  }
  &-wrapper {
    padding-top: 35vh;
  }
}

@media screen
and (min-width: 768px)
and (max-width: 1199px){
  .articles-page {
    h1 {
      font-size: 3em;
    }
    &-wrapper {
      padding-top: 40vh;
    }
  }
}


@media screen and (min-width: 300px) and (max-width: 480px) {
  .articles-page {
    h1 {
      font-size: 2em;
    }
    &-wrapper {
      padding-top: 35vh;
    }
  }
}
