@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700&display=swap');
@import "~bootstrap";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');


body {
  font-family: 'Cuprum', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

}

* {
  margin: 0;
  padding: 0;

}

ul {
  list-style: none;
}

