@import "src/index";
@import "src/components/Navigation/Navigation";

.main__title {
  margin-bottom: 15vh;
  margin-top: 15vh;
}

.home-page__book-form {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 20px;
  transition: .3s ease-in-out;
  &:hover {
    background: #000000;
    color: #ffffff;
  }
}

.home-page__header {
  padding-bottom: 180px;
}

.header__title {
  font-weight: bold;
  color: #ffffff;
  font-size: 4rem;
}

.header__subtitle {
  font-size: 1.5em;
  color: $base-text-color;
  max-width: 40vw;
}

.button__container {
  display: flex;
}

.home-page__about-us {
  padding: 15vh 0 10vh 0;
  &-photos {
    img {
      height: 20rem;
      max-width: 300px;
    }
  }
  &-text {
    max-width: 80%;
    font-size: 1.3em;
  }
}

@keyframes fly {
  from {
    -webkit-transform:  translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform:  translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    -webkit-transform:  translateY(0);
    transform: translateY(0);
  }

}

.arrow-icon {
  font-size: 5em;
  margin-top: 5rem;
  animation: fly 2s ease-in-out infinite ;
}



.button {
  padding: 8px 20px;
  margin-right: 10px;
  background-color: $base-text-color;
  color:  $base-dark-button-color;
  transition: .3s ease;
  font-size: 1.4em;
  border: 1px solid #ffffff;

  &:hover {
    background: $base-dark-button-color;
    color: $base-text-color;
  }
}

.btn-transparent {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-black {
  background: #000000;
  color: #ffffff;
  &:hover {
    background: #ffffff;
    color: #000000;
    border-color: #000;
  }
}

.section__title {
  font-weight: bold;
  font-size: 3em;
}

.home__page-rooms {
  padding-bottom: 30px;
  &-preview {
    transition: .5s ease;
    img {
      width: 90%;
      height: 25rem;
    }
  }
  &-photo {
    width: 45vw
  }
  &-description {
    max-width: 30vw;
  }
  &-item {
    height: 20vh;
    margin-right: 10px;
    transition: .3s ease;
    &:hover {
      transform: translateY(-3px);
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
    &-title {
      display: flex;
      margin-top: 10px;
      font-weight: bold;
      span {
        display: block;
        padding: 10px;
        background: $base-dark-button-color;
        color: $base-text-color;
      }
      span:nth-child(2) {
        color: $price-color;
      }
    }

  }

}

.home-page__feedback {
  &-slider {
    position: relative;
    &:before {
      content: '\201C';
      position: absolute;
      font-size: 40px;
      top: 0;
      left: 0;
      color: $price-color;
    }

    &:after {
      content: '\201D';
      font-size: 40px;
      position: absolute;
      bottom: 0;
      right: 0;
      color: $price-color;
    }

    p {
      font-size: 1.5em;
      max-width: 100%;
      margin-left: 16px;
    }
  }
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .home-page__header {
    padding-bottom: 140px;
  }

  .header__title {
    font-size: 3.1em;
  }

  .home-page__feedback {
    p {
      font-size: 1.3em;
    }
  }

  .header__subtitle{
    font-size: 1.3em;
  }
  .arrow-icon {
    margin-top: 4.5rem;
  }

  .home-page__about-us {
    padding-bottom: 5vh;
    &-title {
      font-size: 2.5em;
    }
    img {

    }
    &-text{
      font-size: 1em;
    }
  }

}

@media screen
and (min-width: 768px)
and (max-width: 1199px){
  .home-page__header {
    padding-bottom: 120px;
  }

  .home-page__feedback {
    &-title {
      font-size: 1.3em;
    }
    &-subtitle {
      font-size: 1.2em;
    }
    p {
      font-size: 1.1em;
    }
  }

  .header__title {
    font-size: 2.7em;
  }


  .header__subtitle{
    font-size: 1.1em;
  }

  .arrow-icon {
    margin-top: 3.5rem;
    font-size: 3.5rem;
  }

  .home-page__about-us {
    padding-bottom: 5vh;
    &-title {
      font-size: 2em;
    }
    img {
      height: 15rem;
    }
    &-text{
      font-size: 1em;
    }
  }
}

.photo-wrapper {
  background: url("../../assets/images/38736452-luxurious-bed-with-cushion-in-royal-bedroom-interior-hotel-room-in-bright-colors-vertical-orientatio.jpg") center center / cover;
}

@media screen
  and (max-width: 768px)
  and (min-width: 480px)
{


  .home-page__feedback {
    &-title {
      font-size: 1.3em;
    }
    &-subtitle {
      font-size: 1.2em;
    }
    p {
      font-size: 1.1em;
    }
  }

  .home-page__header {
    padding-bottom: 80px;
  }

  .header__title {
    font-size: 2.7em;
  }


  .header__subtitle{
    font-size: 1.1em;
  }

  .arrow-icon {
    margin-top: 3.5rem;
    font-size: 3.5rem;
  }

  .home-page__about-us {
    &-photos {
      margin-top: 30px;
    }
    &-title {
      font-size: 2em;
    }
    img {
      height: 15rem;
    }
    &-text{
      font-size: 1em;
    }
  }

}

