@import "src/index";

.main__title {
  margin-bottom: 15vh;
  margin-top: 15vh;
}

.home-page__header {
  padding-bottom: 280px;
}

.home-page__about-us {
  padding: 15vh 0 10vh 0;
  &-photos {
    img {
      margin-right: 1rem;
      max-width: 300px;
      height: 450px;
    }
  }
  &-text {
    max-width: 450px;
  }
}

.button {
  padding: 8px 20px;
  margin-right: 10px;
  background-color: $base-text-color;
  color:  $base-dark-button-color;
  transition: .3s ease;
  font-size: 1.4em;
  border: 1px solid #ffffff;

  &:hover {
    background: $base-dark-button-color;
    color: $base-text-color;
  }
}

.btn-transparent {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-black {
  background: #000000;
  color: #ffffff;
  &:hover {
    background: #ffffff;
    color: #000000;
    border-color: #000;
  }
}

.section__title {
  font-weight: bold;
  font-size: 3em;
}

.home__page-rooms {
  &-photo {
    width: 45vw
  }
  &-description {
    max-width: 30vw;
  }
  &-item {
    height: 20vh;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &-title {
      display: flex;
      margin-top: 10px;
      font-weight: bold;
      span {
        display: block;
        padding: 10px;
        background: $base-dark-button-color;
        color: $base-text-color;
      }
      span:nth-child(2) {
        color: $price-color;
      }
    }

  }

}

.home-page__feedback {
  &-slider {
    position: relative;
    &:before {
      content: '\201C';
      position: absolute;
      font-size: 40px;
      top: 0;
      left: 0;
      color: $price-color;
    }

    &:after {
      content: '\201D';
      font-size: 40px;
      position: absolute;
      bottom: 0;
      right: 0;
      color: $price-color;
    }

    p {
      font-size: 1.5em;
      max-width: 100%;
      margin-left: 16px;
    }
  }



}



