nav {
  border-top: 1px solid rgba(255,255,255, 0.3);
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    li {
      margin-right: 20px ;
      a {
        text-decoration: none;
        color: #000000;
      }
    }
  }
}