.slider {
  position: absolute !important;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -3;
  img {
    height: 800px;
    width: 100%;
    object-fit: cover;
  }
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .slider {
    img {
      height: 750px;
    }
  }
}


@media screen
and (min-width: 768px)
and (max-width: 1199px){
  .slider {
    img {
      height: 700px;
    }
  }

}


@media screen
and (min-width: 480px)
and (max-width: 768px) {
  .slider {
    img {
      height: 680px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .slider {
    img {
      height: 500px;
    }
  }
}


